In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv("Amazon Sales copy data.csv")

In [3]:
data.head()

,Region,Country,Item Type,Sales Channel,Order Priority,Changed_order_date,Order ID,Changed_ship_date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Australia and Oceania,Tuvalu,Baby Food,Offline,H,28/05/10,669165933,27/06/10,9925,255.28,159.42,2533654.00,1582243.50,951410.50
1,Central America and the Caribbean,Grenada,Cereal,Online,C,22/08/12,963881480,15/09/12,2804,205.70,117.11,576782.80,328376.44,248406.36
2,Europe,Russia,Office Supplies,Offline,L,02/05/14,341417157,08/05/14,1779,651.21,524.96,1158502.59,933903.84,224598.75
3,Sub-Saharan Africa,Sao Tome and Principe,Fruits,Online,C,20/06/14,514321792,05/07/14,8102,9.33,6.92,75591.66,56065.84,19525.82
4,Sub-Saharan Africa,Rwanda,Office Supplies,Offline,L,01/02/13,115456712,06/02/13,5062,651.21,524.96,3296425.02,2657347.52,639077.50

In [4]:
data.shape

(100, 14)

In [5]:
data.describe()

,Order ID,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
count,1.000000e+02,100.000000,100.000000,100.000000,1.000000e+02,1.000000e+02,1.000000e+02
mean,5.550204e+08,5128.710000,276.761300,191.048000,1.373488e+06,9.318057e+05,4.416820e+05
std,2.606153e+08,2794.484562,235.592241,188.208181,1.460029e+06,1.083938e+06,4.385379e+05
min,1.146066e+08,124.000000,9.330000,6.920000,4.870260e+03,3.612240e+03,1.258020e+03
25%,3.389225e+08,2836.250000,81.730000,35.840000,2.687212e+05,1.688680e+05,1.214436e+05
50%,5.577086e+08,5382.500000,179.880000,107.275000,7.523144e+05,3.635664e+05,2.907680e+05
75%,7.907551e+08,7369.000000,437.200000,263.330000,2.212045e+06,1.613870e+06,6.358288e+05
max,9.940222e+08,9925.000000,668.270000,524.960000,5.997055e+06,4.509794e+06,1.719922e+06

In [6]:
data.dtypes

Region                 object
Country                object
Item Type              object
Sales Channel          object
Order Priority         object
Changed_order_date     object
Order ID                int64
Changed_ship_date      object
Units Sold              int64
Unit Price            float64
Unit Cost             float64
Total Revenue         float64
Total Cost            float64
Total Profit          float64
dtype: object

In [7]:
data.isnull().sum()

Region                0
Country               0
Item Type             0
Sales Channel         0
Order Priority        0
Changed_order_date    0
Order ID              0
Changed_ship_date     0
Units Sold            0
Unit Price            0
Unit Cost             0
Total Revenue         0
Total Cost            0
Total Profit          0
dtype: int64

In [8]:
data.duplicated().sum()

0