In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [41]:
df = pd.read_excel('Bird Strikes data copy.xlsx')

In [42]:
df.head()

,Record ID,Aircraft: Type,Airport: Name,Altitude bin,Aircraft: Make/Model,Wildlife: Number struck,Wildlife: Number Struck Actual,Effect: Impact to flight,FlightDate,Effect: Indicated Damage,...,Remains of wildlife sent to Smithsonian,Remarks,Wildlife: Size,Conditions: Sky,Wildlife: Species,Pilot warned of birds or wildlife?,Cost: Total $,Feet above ground,Number of people injured,Is Aircraft Large?
0,202152,Airplane,LAGUARDIA NY,> 1000 ft,B-737-400,Over 100,859,Engine Shut Down,2000-11-23,Caused damage,...,False,FLT 753. PILOT REPTD A HUNDRED BIRDS ON UNKN T...,Medium,No Cloud,Unknown bird - medium,N,30736,1500.0,0,Yes
1,208159,Airplane,DALLAS/FORT WORTH INTL ARPT,< 1000 ft,MD-80,Over 100,424,NaN,2001-07-25,Caused damage,...,False,102 CARCASSES FOUND. 1 LDG LIGHT ON NOSE GEAR ...,Small,Some Cloud,Rock pigeon,Y,0,0.0,0,No
2,207601,Airplane,LAKEFRONT AIRPORT,< 1000 ft,C-500,Over 100,261,NaN,2001-09-14,No damage,...,False,FLEW UNDER A VERY LARGE FLOCK OF BIRDS OVER AP...,Small,No Cloud,European starling,N,0,50.0,0,No
3,215953,Airplane,SEATTLE-TACOMA INTL,< 1000 ft,B-737-400,Over 100,806,Precautionary Landing,2002-09-05,No damage,...,False,"NOTAM WARNING. 26 BIRDS HIT THE A/C, FORCING A...",Small,Some Cloud,European starling,Y,0,50.0,0,Yes
4,219878,Airplane,NORFOLK INTL,< 1000 ft,CL-RJ100/200,Over 100,942,NaN,2003-06-23,No damage,...,False,NO DMG REPTD.,Small,No Cloud,European starling,N,0,50.0,0,No

In [43]:
df.shape

(25558, 26)

In [44]:
df.describe()

,Record ID,Wildlife: Number Struck Actual,FlightDate,Cost: Total $,Feet above ground,Number of people injured
count,25558.000000,25558.000000,25429,2.555800e+04,25429.000000,25558.000000
mean,253916.085609,2.691525,2007-01-22 13:20:40.017303040,5.567354e+03,799.028432,0.001056
min,1195.000000,1.000000,2000-01-02 00:00:00,0.000000e+00,0.000000,0.000000
25%,225783.750000,1.000000,2004-06-17 00:00:00,0.000000e+00,0.000000,0.000000
50%,248749.000000,1.000000,2007-07-29 00:00:00,0.000000e+00,50.000000,0.000000
75%,269168.750000,1.000000,2009-11-01 00:00:00,0.000000e+00,700.000000,0.000000
max,321909.000000,942.000000,2011-12-31 00:00:00,1.239775e+07,18000.000000,6.000000
std,38510.453382,12.793975,NaN,1.219713e+05,1740.079843,0.050420

In [45]:
df.dtypes

Record ID                                           int64
Aircraft: Type                                     object
Airport: Name                                      object
Altitude bin                                       object
Aircraft: Make/Model                               object
Wildlife: Number struck                            object
Wildlife: Number Struck Actual                      int64
Effect: Impact to flight                           object
FlightDate                                 datetime64[ns]
Effect: Indicated Damage                           object
Aircraft: Number of engines?                       object
Aircraft: Airline/Operator                         object
Origin State                                       object
When: Phase of flight                              object
Conditions: Precipitation                          object
Remains of wildlife collected?                       bool
Remains of wildlife sent to Smithsonian              bool
Remarks                                            object
Wildlife: Size                                     object
Conditions: Sky                                    object
Wildlife: Species                                  object
Pilot warned of birds or wildlife?                 object
Cost: Total $                                       int64
Feet above ground                                 float64
Number of people injured                            int64
Is Aircraft Large?                                 object
dtype: object

In [46]:
df.isnull().sum()

Record ID                                      0
Aircraft: Type                               129
Airport: Name                                129
Altitude bin                                 129
Aircraft: Make/Model                           0
Wildlife: Number struck                      129
Wildlife: Number Struck Actual                 0
Effect: Impact to flight                   23480
FlightDate                                   129
Effect: Indicated Damage                       0
Aircraft: Number of engines?                 267
Aircraft: Airline/Operator                   129
Origin State                                 449
When: Phase of flight                        129
Conditions: Precipitation                  23543
Remains of wildlife collected?                 0
Remains of wildlife sent to Smithsonian        0
Remarks                                     4771
Wildlife: Size                               129
Conditions: Sky                                0
Wildlife: Species                              0
Pilot warned of birds or wildlife?           129
Cost: Total $                                  0
Feet above ground                            129
Number of people injured                       0
Is Aircraft Large?                           129
dtype: int64

In [47]:
df.duplicated().sum()

0

In [48]:
df['Aircraft: Type'].unique()

array(['Airplane', nan], dtype=object)

In [49]:
df['Aircraft: Type'].fillna('Airplane', inplace=True)

In [50]:
df['Aircraft: Type'].isnull().sum()

0

In [51]:
df['Airport: Name'].value_counts()

Airport: Name
DALLAS/FORT WORTH INTL ARPT    803
SACRAMENTO INTL                676
SALT LAKE CITY INTL            479
DENVER INTL AIRPORT            476
KANSAS CITY INTL               452
                              ...
ORCAS ISLAND ARPT                1
T B LETTSOME INTL                1
DYERSBURG REGIONAL ARPT          1
MCCORD FIELD ARPT                1
PRINCESS JULIANA                 1
Name: count, Length: 1109, dtype: int64

In [52]:
df['Airport: Name'].fillna('DALLAS/FORT WORTH INTL ARPT', inplace=True)

In [53]:
df['Airport: Name'].isnull().sum()

0

In [54]:
df['Altitude bin'].value_counts()

Altitude bin
< 1000 ft    20556
> 1000 ft     4873
Name: count, dtype: int64

In [55]:
df['Altitude bin'].fillna('< 1000 ft', inplace=True)

In [56]:
df['Altitude bin'].isnull().sum()

0

In [101]:
df['Wildlife: Number struck'].value_counts()

Wildlife: Number struck
1            20790
2 to 10       4319
11 to 100      312
1              129
Over 100         8
Name: count, dtype: int64

In [58]:
df['Wildlife: Number struck'].fillna('1', inplace=True)

In [59]:
df['Wildlife: Number struck'].isnull().sum()

0

In [60]:
df['Effect: Impact to flight'].value_counts()

Effect: Impact to flight
Precautionary Landing    1121
Aborted Take-off          479
Other                     390
Engine Shut Down           88
Name: count, dtype: int64

In [61]:
df['Effect: Impact to flight'].fillna('Precautionary Landing', inplace = True)

In [62]:
df['Effect: Impact to flight'].isnull().sum()

0

In [63]:
df['FlightDate'].value_counts()

FlightDate
2010-10-28    28
2009-11-01    27
2010-08-26    26
2009-09-24    26
2010-11-01    26
              ..
2008-02-04     1
2008-02-01     1
2002-01-12     1
2008-01-23     1
2000-11-23     1
Name: count, Length: 4225, dtype: int64

In [64]:
df['FlightDate'].fillna('2010-10-28', inplace = True)

In [65]:
df['FlightDate'].isnull().sum()

0

In [66]:
df['Aircraft: Number of engines?'].value_counts()

Aircraft: Number of engines?
2    23025
1     1313
3      564
4      388
C        1
Name: count, dtype: int64

In [67]:
df['Aircraft: Number of engines?'].fillna('2', inplace = True)

In [68]:
df['Aircraft: Number of engines?'].isnull().sum()

0

In [69]:
df['Aircraft: Airline/Operator'].value_counts()

Aircraft: Airline/Operator
SOUTHWEST AIRLINES            4628
BUSINESS                      3074
AMERICAN AIRLINES             2058
DELTA AIR LINES               1349
AMERICAN EAGLE AIRLINES        932
                              ...
LYNDEN AIR CARGO                 1
BIMINI ISLAND AIR                1
HAGELAND AVIATION SERVICES       1
CONSORCIO AVIACSA                1
MIDWEST AVIATION DIVISION        1
Name: count, Length: 292, dtype: int64

In [70]:
df['Aircraft: Airline/Operator'].fillna('SOUTHWEST AIRLINES', inplace = True)

In [71]:
df['Aircraft: Airline/Operator'].isnull().sum()

0

In [72]:
df['Origin State'].value_counts()

Origin State
California                   2520
Texas                        2453
Florida                      2055
New York                     1319
Illinois                     1008
Pennsylvania                  986
Missouri                      960
Kentucky                      812
Ohio                          778
Hawaii                        729
Michigan                      678
Colorado                      664
Tennessee                     655
North Carolina                652
New Jersey                    600
Georgia                       510
Utah                          496
Maryland                      433
DC                            432
Louisiana                     397
Oregon                        391
Nebraska                      368
Arizona                       360
Massachusetts                 355
Minnesota                     352
Indiana                       346
Washington                    330
Alabama                       301
Virginia                      300
Wisconsin                     286
Connecticut                   246
Iowa                          228
Oklahoma                      212
Alaska                        186
Nevada                        167
South Carolina                166
Rhode Island                  125
New Hampshire                 120
Arkansas                      118
Mississippi                   117
Kansas                        100
New Mexico                     94
North Dakota                   87
West Virginia                  83
Prince Edward Island           83
Puerto Rico                    70
Idaho                          68
South Dakota                   60
Montana                        43
Maine                          41
Vermont                        36
Wyoming                        34
Virgin Islands                 31
Delaware                       27
Ontario                        14
British Columbia               12
Quebec                          9
Alberta                         3
Newfoundland and Labrador       2
Saskatchewan                    1
Name: count, dtype: int64

In [73]:
df['Origin State'].fillna('California', inplace = True)

In [74]:
df['Origin State'].isnull().sum()

0

In [75]:
df['When: Phase of flight'].value_counts()

When: Phase of flight
Approach        10382
Landing Roll     5047
Take-off run     4711
Climb            4429
Descent           776
Taxi               74
Parked             10
Name: count, dtype: int64

In [76]:
df['When: Phase of flight'].fillna('Approach', inplace = True)

In [38]:
df['When: Phase of flight'].isnull().sum()

0

In [40]:
df['Wildlife: Size'].value_counts()

Wildlife: Size
Small     17412
Medium     5937
Large      2080
Name: count, dtype: int64

In [77]:
df['Wildlife: Size'].fillna('Small', inplace = True)

In [78]:
df['Wildlife: Size'].isnull().sum()

0

In [79]:
df['Pilot warned of birds or wildlife?'].value_counts()

Pilot warned of birds or wildlife?
N    14567
Y    10862
Name: count, dtype: int64

In [80]:
df['Pilot warned of birds or wildlife?'].fillna('N', inplace = True)

In [81]:
df['Pilot warned of birds or wildlife?'].isnull().sum()

0

In [97]:
x = df['Feet above ground'].median()

In [98]:
df['Feet above ground'].fillna(x, inplace = True)

In [83]:
df['Is Aircraft Large?'].value_counts()

Is Aircraft Large?
No     17027
Yes     8402
Name: count, dtype: int64

In [84]:
df['Is Aircraft Large?'].fillna('No', inplace = True)

In [85]:
df['Is Aircraft Large?'].isnull().sum()

0

In [99]:
df.isnull().sum()

Record ID                                  0
Aircraft: Type                             0
Airport: Name                              0
Altitude bin                               0
Aircraft: Make/Model                       0
Wildlife: Number struck                    0
Wildlife: Number Struck Actual             0
Effect: Impact to flight                   0
FlightDate                                 0
Effect: Indicated Damage                   0
Aircraft: Number of engines?               0
Aircraft: Airline/Operator                 0
Origin State                               0
When: Phase of flight                      0
Conditions: Precipitation                  0
Remains of wildlife collected?             0
Remains of wildlife sent to Smithsonian    0
Wildlife: Size                             0
Conditions: Sky                            0
Wildlife: Species                          0
Pilot warned of birds or wildlife?         0
Cost: Total $                              0
Feet above ground                          0
Number of people injured                   0
Is Aircraft Large?                         0
dtype: int64

In [87]:
df['Conditions: Precipitation'].value_counts()

Conditions: Precipitation
Rain               1353
Fog                 475
Snow                 89
Fog, Rain            85
Rain, Snow            6
Fog, Snow             4
Fog, Rain, Snow       3
Name: count, dtype: int64

In [88]:
df['Conditions: Precipitation'].fillna('Rain', inplace = True)

In [89]:
df['Conditions: Precipitation'].isnull().sum()

0

In [93]:
df.drop(columns = ['Remarks'], axis = 1, inplace = True)

In [102]:
df.to_excel('cleaned_file.xlsx', index=False)